# Supabase Backend Configuration (Secret)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase Frontend Configuration (Public)
# Vite standard:
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
# Next.js standard (Handled in code):
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
